body {
    background-color: teal;
}

.center-text {
    text-align: center;
}

.header {
    background-color: lightgray;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

#survey-form {
    background-color: lightgray;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

form input {
    width: 150px;
}

.radio-checkbox {
   text-align: left;
   margin-left: 150px;
}

textarea {
    width: 400px;
    padding: 5px;
}

#submit {
    width: 75px;
}
